<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item is-brand" href="/">
          <%= image_tag 'logo.svg', alt: 'Logo', class: 'w-28 h-8' %>
          <span class="navbar-item">Social-Latte</span>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class="tabs is-right">
            <ul>
              <li class="is-active"><a href="<%= root_path %>">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>